.header {
  background-color: $color1;

  &__container {
    padding: $space1 0;

    @include from($sm-start) {
      padding: 10px 0;
    }
  }

  &__brand-logo {
    display: flex;

    img {
      @include size(auto, 32px);

      @include from($sm-start) {
        height: 40px;
      }
    }
  }
}
