///
/// Only forms

// Form search
.form-search {
  position: relative;

  &__submit {
    @include esize(32px);
    background-color: $color5;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    position: absolute;
    right: $gutter;
    top: 0;

    @include from($sm-start) {
      @include esize(40px);

      svg {
        @include esize(18px);
      }
    }
  }
}
