///
/// Product detail page
.product-detail {
  background: $white;
  border-radius: $border-radius1;

  @include from($sm-start) {
    padding: szrem(24);
  }

  &__main-data {
    margin-bottom: $space2;
  }
  &__images {
    margin-bottom: $space2;

    @include from($md-start) {
      margin-bottom: szrem(100);
      max-width: 680px;
      flex: 680px;
    }
  }

  &__sold {
    @include text(szrem(14));
    margin-bottom: $space1;
  }

  &__title {
    @include text(szrem(24), 1.8rem, $proximaNovaBold);
    margin-bottom: $space2;
  }

  &__price {
    @include text(szrem(46));
    margin-bottom: $space2;
  }

  &__bottom h2 {
    @include text(szrem(28));
    margin-bottom: $space2;
    padding-left: $gutter;
  }

  &__description {
    word-break: break-word;
  }
}
