///
/// Search list items
.search-items {
  a {
    text-decoration: none;
    color: inherit;
  }

  .item {
    padding: $space1;
    border-bottom: 2px solid $color5;

    &:last-child {
      border-bottom: 0;
    }

    .search-items {
      width: 100%;
    }

    &__image {
      @include esize(180px);
      background-color: $white;
      border-radius: $border-radius1;
      justify-content: center;
      margin-right: 8px;

      img {
        @include esize(180px);
        display: flex;
        object-fit: contain;
      }
    }

    &__description {
      position: relative;
      padding-top: 20px;

      .price {
        font-size: szrem(24);

        @include from($sm-start) {
          margin-bottom: $space2;
        }

        &.free-shipping::after {
          @include esize(20px);
          background: bg-icon(shipping, center/20px, png);
          content: '';
          display: inline-block;
          margin-left: $space1;
        }
      }

      .title {
        @include text(szrem(18), szrem(22));
        font-weight: normal;

        @include from($sm-start) {
          width: 80%;
        }
      }

      .location {
        font-size: szrem(12);
        margin: $space1 0;

        @include from($sm-start) {
          margin: 0;
          position: absolute;
          right: 10%;
          top: 30px;
        }
      }
    }
  }
}
