//
// General styles.

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
.root {
  min-height: 100vh;
  min-width: 100%;
}

body {
  background: $color5;
  color: $color2;
  font-family: $proximaNova;
  font-size: var(--base-font-size);
  line-height: 22px;
}

.container {
  @include size(100%);
  margin: 0 auto;
  max-width: $max-width;
}

.img_responsive {
  @include size(100%);
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none
}

.visually-hidden {
  @include visually-hidden;
}
