///
/// Fonts

$fonts : '../../assets/fonts/';

/// Proxima Nova
@font-face {
  font-family: 'Proxima Nova Regular';
  src: local('Proxima Nova Regular'),
    url('#{$fonts}Proxima-Nova/Proxima-Nova-Regular.woff2') format('woff2'),
    url('#{$fonts}Proxima-Nova/Proxima-Nova-Regular.woff') format('woff'),
    url('#{$fonts}Proxima-Nova/Proxima-Nova-Regular.ttf') format('truetype'),
    url('#{$fonts}Proxima-Nova/Proxima-Nova-Regular.eot') format('embedded-opentype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


@font-face {
  font-family: 'Proxima Nova Condensed Bold';
  src: local('Proxima Nova Condensed Bold'),
    url('#{$fonts}Proxima-Nova/Proxima-Nova-Condensed-Bold.woff2') format('woff2'),
    url('#{$fonts}Proxima-Nova/Proxima-Nova-Condensed-Bold.woff') format('woff'),
    url('#{$fonts}Proxima-Nova/Proxima-Nova-Condensed-Bold.ttf') format('truetype'),
    url('#{$fonts}Proxima-Nova/Proxima-Nova-Condensed-Bold.eot') format('embedded-opentype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
