//
// Config here all sass variables

// Paths
$images-path : '../../assets/images';

// COLORS
$white  : #FFFFFF;
$black  : #000000;
$color1 : #FFE600;
$color2 : #333333;
$color3 : #666666;
$color4 : #999999;
$color5 : #EEEEEE;
$color6 : #3483FA;

// Fonts
$proximaNova        : 'Proxima Nova Regular', arial, sans-serif, helvetica;
$proximaNovaBold    : 'Proxima Nova Condensed Bold', $proximaNova;

// Layout
$gap        : 22px;
$space1     : 16px;
$space2     : 32px;
$max-width  : 1200px;

$border-radius1:  4px;

// Grid system
// The grid system is config in src/assets/libraries/sass-flexbox-grid/variables/grid-variables


:root {
  --base-font-size: 14px;

  @media screen and (min-width: $sm-start) {
    --base-font-size: 16px;
  }
}
